.navbar-toggler {
    background-color: #fd7e14;
}
section {
    min-height: 450px;
}
#home {
    background-image: url(leaf.jpg);
    margin-top: 100px;
}
.progress-bar {
    background-color: #fd7e14;
}