.navbar-toggler {
    background-color: #fd7e14;
}
section {
    min-height: 450px;
}
#home {
    background-image: url(/assets/leaf.jpg);
    background-color: #ff933aab;
    background-blend-mode: lighten;
    margin-top: 91px;
}
.progress-bar {
    background-color: #fd7d14;
}

/* DIV MAX WIDTHS & CENTER */
.about, .skills, .portfolio, .blog, .contact, .footer {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}

/* SECTION BACKGROUND COLOR */
#about, #portfolio, #contact, .card {
    background-color: #fed652;
}
body, .navbar {
    background-color: #fff8e2;
}

/* SET YELLOW BOX SIZES */
.yellow-box {
    width: 215px;
    height: 58px;
}

/* GRID BOX SIZE AND STYLING */
.orange-box {
    border: 1px solid #fd7d14;
    border-radius: 10px;
    width: 275px;
    height: 275px;
    background-color: #fd7d14;
}
.autumn-img {
    border-radius: 10px;
}

.orange-box:hover {
    background-color: #00000081;
    background-blend-mode: darken;
}

/* CONTACT STYLING */
fieldset {
    background-color: #fd7e14;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.address, .mobile, .email {
    background-color: #fd7e14;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    min-height: 30.5%;
}